.section-nbanner {
    padding-bottom: 80px;
}
.section-jam{
    padding:60px 0;
}
.section-kapal{
    padding:60px 0;
}
.section-subtitle{
    margin-bottom: 60px;
}
.footer{
    background-color: whitesmoke;
    padding:30px 0;
}
.section-card{
    padding:70px 0;
}