@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
#header {
  z-index: 1002;
  background: #fff;
  margin: 0 auto;
  height: 64px;
  top: 0;
  left: 0;
  padding: 0 24px 0 30px;
  -webkit-transition: top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-family: Montserrat; }

* { }

img {
  max-width: 100%; }

.nbanner-image {
  padding-top: 64px; }

.nbanner-about {
  margin-top: 100px; }

.row-center {
  padding: 30px 0; }

.site__logo {
  display: block;
  height: 26px;
  width: auto;
  margin-top: 12px; }

.section-nbanner {
  padding-bottom: 80px; }

.section-nbanner {
  padding-bottom: 80px; }

.section-jam {
  padding: 60px 0; }

.section-kapal {
  padding: 60px 0; }

.section-subtitle {
  margin-bottom: 60px; }

.footer {
  background-color: whitesmoke;
  padding: 30px 0; }

.section_card {
  padding: 70px 0; }

.section_rec {
  padding: 60px 0; }

.section_our {
  padding: 60px 0; }

.About-title {
  font-size: 30px;
  font-weight: 800; }

.nbanner-about__line {
  width: 50px;
  height: 6px;
  background: #38bc25;
  margin-right: auto;
  border-radius: 12px;
  margin-top: 8px; }

.nbanner-about__desc {
  opacity: .5;
  font-size: 15px;
  line-height: 24px;
  margin-top: 25px; }

.nbanner-header__title {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 8px; }

.nbanner-header__copy {
  font-size: 17px;
  line-height: 2;
  color: rgba(0, 0, 0, 0.38);
  font-weight: 600; }

.t--1 {
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 800; }

.p--1 {
  opacity: .5;
  font-size: 15px;
  line-height: 1.88; }

.content {
  padding-top: 15px; }

.subtitle__line {
  width: 56px;
  height: 6px;
  background: #38bc25;
  margin-right: auto;
  border-radius: 12px;
  margin-top: 8px;
  margin: 14px 56rem; }

.subtitle {
  padding: 50px 0; }

.subtitle-subtitle__mt03 {
  font-size: 30px;
  font-weight: 800; }

.text-right {
  text-align: right; }

.fab {
  font-size: 25px;
  padding: 0px 11px; }

.card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  overflow: hidden; }

.card__img img {
  display: block;
  width: 100%; }

.card__img--no-jump {
  position: relative;
  height: 0;
  padding-bottom: 67.5%; }
  .card__img--no-jump img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.card__content {
  padding: .5em; }

.card__description {
  font-size: var(--text-sm);
  line-height: 1.4;
  color: var(--color-contrast-medium); }

.card--is-link {
  will-change: box-shadow;
  transition: box-shadow 0.2s; }
  .card--is-link:hover {
    box-shadow: var(--shadow-md); }
    .card--is-link:hover .card__img::after {
      opacity: 1; }
  .card--is-link .card__img {
    position: relative; }
    .card--is-link .card__img::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: alpha var(--color-black), 0.6;
      opacity: 0;
      transition: opacity 0.2s; }

.card__link {
  text-decoration: none;
  display: block;
  color: inherit; }

.card__link-icon {
  position: absolute;
  z-index: 1;
  width: 64px;
  height: 64px;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  background-color: alpha var(--color-white), 0.9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s; }
  .card__link-icon .icon {
    display: block;
    width: 32px;
    height: 32px;
    color: var(--color-black); }

.card--is-link:hover .card__link-icon {
  opacity: 1; }
